# ===== MAVLink =====
pymavlink

# ===== GUI =====
tkintermapview
customtkinter

# ===== Path planning & Geospatial  =====
numpy
rtree
shapely
osmnx
matplotlib  

# ===== Database / PostGIS =====
sqlalchemy
geoalchemy2
psycopg2

# ===== LLM & Computer Vision =====
ollama
ultralytics
opencv-python